{% extends "index.njk" %}

{% block content %}
    <div class="p-4">
        <h3 class="title">Thêm ghế ngồi</h3>

        <form id="frm-add-seat" method="POST" action="/seat/store">
            <div class="form-group">
                <span style="color: #ff0000">*</span>
                <label for="rowSeat">Hàng ghế:</label>
                <select name="rowSeat" id="rowSeat" class="form-control" required>
                    <option value="">----- Chọn hàng ghế -----</option>
                    <option value="A">A</option>
                    <option value="B">B</option>
                    <option value="C">C</option>
                    <option value="D">D</option>
                    <option value="E">E</option>
                    <option value="F">F</option>
                    <option value="G">G</option>
                    <option value="H">H</option>
                    <option value="I">I</option>
                </select>
            </div>
            
            <div class="form-group">
                <span style="color: #ff0000">*</span>
                <label for="seatNumber">Số ghế (1-12):</label>
                <input type="number" class="form-control" id="seatNumber" name="seatNumber" min="1" max="12" required>
            </div>

            <div class="form-group">
                <span style="color: #ff0000">*</span>
                <label for="seatType">Kiểu ghế:</label>
                <select name="seatType" id="seatType" class="form-control">
                    <option value="Single">Đơn</option>
                    <option value="Double">Đôi</option>
                </select>
            </div>

            <div class="form-group">
                <span style="color: #ff0000">*</span>
                <label for="cinemaRoom">Phòng chiếu phim:</label>
                <select name="cinemaRoom" id="cinemaRoom" class="form-control" required>
                    <option value="">----- Chọn phòng chiếu -----</option>
                    {% for cinemaRoom in cinemaRooms %}
                        <option value="{{ cinemaRoom._id }}">{{ cinemaRoom.roomNumber }}</option>
                    {% endfor %}
                </select>
            </div>

            <button type="submit" class="btn btn-control mt-2" style="width: 120">
                Thêm ghế
            </button>
        </form>
    </div>
{% endblock %}