{% extends "index.njk" %}

{% block content %}
    <form class="p-4 movies__table-lists">
        <h3 class="title">Seat List</h3>

        <div class="d-flex">
            <label for="selectCinemaRoom" style="line-height: 38px; margin-right: 10px">Select CinemaRoom</label>
            <select id="selectCinemaRoom" 
                style="width: 15%; border-radius: 5px" onchange="handleSelectGroup('selectCinemaRoom', 'seat')"
            >
                <option value="all" {% if selectedCinemaRoomId == "all" %}selected{% endif %}>All CinemaRooms</option>
                {% for cinemaRoom in cinemaRooms %}
                <option value="{{ cinemaRoom._id }}" {% if cinemaRoom._id == selectedCinemaRoomId %}selected{% endif %}>
                    {{ cinemaRoom.roomNumber }}
                </option>
                {% endfor %}
            </select>
        </div>

        <table class="table table-movies mt-4" border="1">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Seat position</th>
                    <th scope="col">Book status</th>
                    <th scope="col">Cinema room</th>
                    <th scope="col">Customs</th>
                </tr>
            </thead>
            <tbody>
                {% for seat in seats %}
                <tr>
                    <th scope="row">{{ loop.index }}</th>
                    <td>
                        {{seat.rowSeat}}{% if seat.seatNumber < 10 %}-00{{seat.seatNumber}}{% else %}-0{{seat.seatNumber}}{% endif %}
                    </td>
                    <td>{% if seat.selected %}Booked{% else %}Not booked{% endif %}</td>
                    <td>{{ seat.cinemaRoom.roomNumber }}</td>
                    <td>
                        <button type="button" class="btn btn-outline-warning">
                            <a href="/seat/{{ seat._id }}/edit">Edit</a>
                        </button>
                        <button type="button" class="btn btn-outline-danger" {% if seat.selected %}disabled{% endif %}>
                            <a href="#" data-toggle="modal" data-id="{{ seat._id }}" data-target="#deleteSeatModal">
                                Delete
                            </a>
                        </button>
                    </td>
                </tr>
                {% else %}
                <tr style="text-align: center">
                    <td colspan="6">You have not registered for any seat yet.
                        <a href="/seat/create">Post a seat</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </form>

    {% include "seat/delete.njk" %}
{% endblock %}