{% extends "index.njk" %}

{% block content %}
    <form class="p-4 movies__table-lists">
        <h3 class="title">Danh Sách Ghế Ngồi</h3>

        <div class="d-flex">
            <label for="selectCinemaRoom" style="line-height: 38px; margin-right: 10px">Chọn phòng chiếu</label>
            <select id="selectCinemaRoom" 
                style="width: 15%; border-radius: 5px" onchange="handleSelectGroup('selectCinemaRoom', 'seat')"
            >
                <option value="all" {% if selectedCinemaRoomId == "all" %}selected{% endif %}>Tất cả phòng chiếu</option>
                {% for cinemaRoom in cinemaRooms %}
                <option value="{{ cinemaRoom._id }}" {% if cinemaRoom._id == selectedCinemaRoomId %}selected{% endif %}>
                    {{ cinemaRoom.roomNumber }}
                </option>
                {% endfor %}
            </select>
        </div>

        <table class="table table-movies mt-4" border="1">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Vị trí</th>
                    <th scope="col">Trạng thái</th>
                    <th scope="col">Phòng chiếu</th>
                    <th scope="col">Tùy chỉnh</th>
                </tr>
            </thead>
            <tbody>
                {% for seat in seats %}
                <tr>
                    <th scope="row">{{ loop.index }}</th>
                    <td>
                        {{seat.rowSeat}}{% if seat.seatNumber < 10 %}-00{{seat.seatNumber}}{% else %}-0{{seat.seatNumber}}{% endif %}
                    </td>
                    <td>{% if seat.selected %}Đã đặt{% else %}Chưa đặt{% endif %}</td>
                    <td>{{ seat.cinemaRoom.roomNumber }}</td>
                    <td>
                        <button type="button" class="btn btn-outline-warning">
                            <a href="/seat/{{ seat._id }}/edit">Sửa</a>
                        </button>
                        <button
                            type="button"
                            class="btn btn-outline-danger"
                            {% if seat.selected %}disabled style="cursor: not-allowed"{% endif %}
                        >
                            <a
                                href="#"
                                data-toggle="modal"
                                data-id="{{ seat._id }}"
                                data-target="#deleteSeatModal"
                                {% if seat.selected %}style="cursor: not-allowed"{% endif %}
                            >
                                Xóa
                            </a>
                        </button>
                    </td>
                </tr>
                {% else %}
                <tr style="text-align: center">
                    <td colspan="6">You have not registered for any seat yet.
                        <a href="/seat/create">Post a seat</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </form>

    {% include "seat/delete.njk" %}
{% endblock %}