<div class="admin__sidebar">
    <div>
        <a href="/">
            <img src="/img/logo_brand.png" alt="Logo">
        </a>

        <hr />

        <div class="menu-item active" onclick="toggleMenu('manageMenu')">
            Manage Movie
            <span class="arrow">
                <i class='bx bx-chevron-down'></i>
            </span>
        </div>
        
        <div class="menu-sub" id="manageMenu">
            <div class="submenu">
                <a href="/movie-screening/table-lists">View Movie</a>
            </div>
            <div class="submenu">
                <a href="/movie-screening/create">Add Movie</a>
            </div>
            <div class="submenu">Edit Movie</div>
            <div class="submenu">Delete Movie</div>
        </div>

        <div class="menu-item" onclick="toggleMenu('screeningsMenu')">
            Manage Screenings
            <span class="arrow">
                <i class='bx bx-chevron-down'></i>
            </span>
        </div>

        <div class="menu-sub" id="screeningsMenu">
            <div class="submenu">View Screening</div>
            <div class="submenu">Add Screening</div>
            <div class="submenu">Edit Screening</div>
            <div class="submenu">Delete Screeing</div>
        </div>

        <div class="menu-item" onclick="toggleMenu('ticketMenu')">
            Manage Ticket
            <span class="arrow">
                <i class='bx bx-chevron-down'></i>
            </span>
        </div>

        <div class="menu-sub" id="ticketMenu">
            <div class="submenu">View Ticket</div>
            <div class="submenu">Add Ticket</div>
            <div class="submenu">Edit Ticket</div>
            <div class="submenu">Delete Ticket</div>
        </div>

        <div class="menu-item" onclick="toggleMenu('permissionsMenu')">
            User Permissions
            <span class="arrow">
                <i class='bx bx-chevron-down'></i>
            </span>
        </div>

        <div class="menu-sub" id="permissionsMenu">
            <div class="submenu">View Role</div>
            <div class="submenu">Add Role</div>
            <div class="submenu">Edit Role</div>
            <div class="submenu">Delete Role</div>
        </div>

        <div class="menu-item">
            Statistics & Reporting
        </div>
    </div>
</div>