<div class="admin__sidebar">
    <div>
        <a href="/home/dashboard">
            <img src="/img/logo_brand.png" alt="Logo">
        </a>

        <hr />

        <div class="menu-item" onclick="toggleMenu('moviesMenu')">
            Quản lý Phim
            <span class="arrow">
                <i class='bx bx-chevron-down'></i>
            </span>
        </div>
        
        <div class="menu-sub" id="moviesMenu">
            <div class="submenu">
                <a href="/movie-screening/create">Thêm phim</a>
            </div>
            <div class="submenu">
                <a href="/movie-screening/table-lists">Xem danh sách</a>
            </div>
        </div>

        <div class="menu-item" onclick="toggleMenu('categoryMenu')">
            Quản lý Thể loại
            <span class="arrow">
                <i class='bx bx-chevron-down'></i>
            </span>
        </div>

        <div class="menu-sub" id="categoryMenu">
            <div class="submenu">
                <a href="/category-film/create">Thêm thể loại</a>
            </div>
            <div class="submenu">
                <a href="/category-film/table-lists">Xem danh sách</a>
            </div>
        </div>

        <div class="menu-item" onclick="toggleMenu('producersMenu')">
            Quản lý NSX
            <span class="arrow">
                <i class='bx bx-chevron-down'></i>
            </span>
        </div>

        <div class="menu-sub" id="producersMenu">
            <div class="submenu">
                <a href="/producer/create">Thêm NSX</a>
            </div>
            <div class="submenu">
                <a href="/producer/table-lists">Xem danh sách</a>
            </div>
        </div>

        <div class="menu-item" onclick="toggleMenu('cinemasMenu')">
            Quản lý Rạp
            <span class="arrow">
                <i class='bx bx-chevron-down'></i>
            </span>
        </div>

        <div class="menu-sub" id="cinemasMenu">
            <div class="submenu">
                <a href="/cinema/create">Thêm rạp chiếu phim</a>
            </div>
            <div class="submenu">
                <a href="/cinema/table-lists">Xem danh sách</a>
            </div>
        </div>

        <div class="menu-item" onclick="toggleMenu('employeesMenu')">
            Quản lý Nhân viên
            <span class="arrow">
                <i class='bx bx-chevron-down'></i>
            </span>
        </div>

        <div class="menu-sub" id="employeesMenu">
            <div class="submenu">
                <a href="/employee/create">Thêm nhân viên</a>
            </div>
            <div class="submenu">
                <a href="/employee/table-lists">Xem danh sách</a>
            </div>
        </div>

        <div class="menu-item" onclick="toggleMenu('cinemaRoomsMenu')">
            Quản lý Phòng chiếu
            <span class="arrow">
                <i class='bx bx-chevron-down'></i>
            </span>
        </div>

        <div class="menu-sub" id="cinemaRoomsMenu">
            <div class="submenu">
                <a href="/cinemaroom/create">Thêm phòng chiếu</a>
            </div>
            <div class="submenu">
                <a href="/cinemaroom/table-lists">Xem danh sách</a>
            </div>
        </div>

        <div class="menu-item" onclick="toggleMenu('seatsMenu')">
            Quản lý Ghế
            <span class="arrow">
                <i class='bx bx-chevron-down'></i>
            </span>
        </div>

        <div class="menu-sub" id="seatsMenu">
            <div class="submenu">
                <a href="/seat/create">Thêm ghế ngồi</a>
            </div>
            <div class="submenu">
                <a href="/seat/table-lists">Xem danh sách</a>
            </div>
        </div>

        <div class="menu-item" onclick="toggleMenu('screeningsMenu')">
            Quản lý Suất chiếu
            <span class="arrow">
                <i class='bx bx-chevron-down'></i>
            </span>
        </div>

        <div class="menu-sub" id="screeningsMenu">
            <div class="submenu">
                <a href="/screening/create">Thêm suất chiếu</a>
            </div>
            <div class="submenu">
                <a href="/screening/now-showing">Xem danh sách</a>
            </div>
        </div>

        <div class="menu-item" onclick="toggleMenu('promotionProgramsMenu')">
            Chương trình ưu đãi
            <span class="arrow">
                <i class='bx bx-chevron-down'></i>
            </span>
        </div>

        <div class="menu-sub" id="promotionProgramsMenu">
            <div class="submenu">
                <a href="/promotion-program/create">Thêm chương trình</a>
            </div>
            <div class="submenu">
                <a href="/promotion-program/table-lists">Xem danh sách</a>
            </div>
        </div>

        <div class="menu-item" onclick="toggleMenu('waterCornComboMenu')">
            Quản lý Bắp nước
            <span class="arrow">
                <i class='bx bx-chevron-down'></i>
            </span>
        </div>

        <div class="menu-sub" id="waterCornComboMenu">
            <div class="submenu">
                <a href="/water-corn-combo/create">Thêm bắp nước</a>
            </div>
            <div class="submenu">
                <a href="/water-corn-combo/table-lists">Xem danh sách</a>
            </div>
        </div>

        <div class="menu-item" onclick="toggleMenu('bookingMenu')">
            <a href="/booking/detail-booking">Danh Sách Đặt Vé</a>
        </div>

        {# <div class="menu-item" onclick="toggleMenu('permissionsMenu')">
            Phân Quyền
        </div> #}
    </div>

    {# <div class="d-flex flex-column flex-shrink-0 p-3">
        <div class="dropdown">
            <a 
                href="#"
                class="d-flex align-items-center text-white text-decoration-none dropdown-toggle"
                id="dropdownUser1"
                data-toggle="dropdown"
                aria-expanded="false"
            >
                <img src="/img/admin-avt.png" width="32" height="32" class="rounded-circle me-2 m-0 mr-2">
                <strong>VenusakaVXT</strong>
            </a>
            <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser1">
                <li><a class="dropdown-item" href="#">Cài đặt</a></li>
                <li><a class="dropdown-item" href="#">Hồ sơ cá nhân</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#">Đăng xuất</a></li>
            </ul>
        </div>
    </div> #}
</div>