{% extends "index.njk" %}

{% block content %}
    <div class="p-4">
        <h3 class="title">Post a promotion program</h3>

        <form id="frm-add-promotion-program" method="POST" action="/promotion-program/store" enctype="multipart/form-data">
            <div class="form-group">
                <span style="color: #ff0000">*</span>
                <label for="discountCode">Discount code:</label>
                <input type="text" class="form-control" id="discountCode" name="discountCode" required>
            </div>

            <div class="form-group">
                <span style="color: #ff0000">*</span>
                <label for="programName">Program name:</label>
                <input type="text" class="form-control" id="programName" name="programName" required>
            </div>

            <div class="form-group">
                <span style="color: #ff0000">*</span>
                <label for="content">Content:</label>
                <textarea class="form-control" id="content" name="content" required placeholder="Please enter a content of program..."></textarea>
            </div>

            <div class="form-group">
                <span style="color: #ff0000">*</span>
                <label for="startDate">Start date:</label>
                <input type="date" class="form-control" id="startDate" name="startDate" required>
            </div>

            <div class="form-group">
                <span style="color: #ff0000">*</span>
                <label for="endDate">End date:</label>
                <input type="date" class="form-control" id="endDate" name="endDate" required>
            </div>

            <div class="form-group">
                <span style="color: #ff0000">*</span>
                <label for="percentReduction">Percent reduction:</label>
                <input type="number" class="form-control" id="percentReduction" name="percentReduction" required>
            </div>

            <div class="form-group">
                <span style="color: #ff0000">*</span>
                <label for="maxMoneyAmount">Max money amount:</label>
                <input type="number" class="form-control" id="maxMoneyAmount" name="maxMoneyAmount" required>
            </div>

            <div class="form-group">
                <span style="color: #ff0000">*</span>
                <label for="image">Image:</label>
                <input type="file" class="form-control" id="image" name="image" accept="image/*" required>
            </div>

            <div class="form-group">
                <label for="condition">Condition:</label>
                <input type="text" class="form-control" id="condition" name="condition" required>
            </div>

            <div>
                <input type="checkbox" id="isActive" name="isActive">
                <label for="isActive">Is active</label>
            </div>

            <div class="form-group">
                <label for="cinema">Cinema:</label>
                <select name="cinema" id="cinema" class="form-control">
                    <option value="">----- Select cinema -----</option>
                    {% for cinema in cinemas %}
                        <option value="{{ cinema._id }}">{{ cinema.name }}</option>
                    {% endfor %}
                </select>
            </div>

            <button type="submit" class="btn btn-control mt-2" style="width: 200">
                Add promotion program
            </button>
        </form>
    </div>
{% endblock %}