{% extends "index.njk" %}

{% block content %}
    <form class="p-4 movies__table-lists">
        <h3 class="title">Chương trình ưu đãi</h3>

        <table class="table table-movies mt-4" border="1">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Mã giảm giá</th>
                    {# <th scope="col">Tên chương trình</th> #}
                    <th scope="col">Ngày bắt đầu</th>
                    <th scope="col">Ngày kết thúc</th>
                    <th scope="col">Phần trăm</th>
                    <th scope="col">Tối đa</th>
                    <th scope="col">Rạp chiếu</th>
                    <th scope="col">Tùy chỉnh</th>
                </tr>
            </thead>
            <tbody>
                {% for promotionProgram in promotionPrograms %}
                <tr>
                    <th scope="row">{{ loop.index }}</th>
                    <td>{{ promotionProgram.discountCode }}</td>
                    {# <td>{{ promotionProgram.programName }}</td> #}
                    <td>{{ promotionProgram.startDate }}</td>
                    <td>{{ promotionProgram.endDate }}</td>
                    <td>{{ promotionProgram.percentReduction }}%</td>
                    <td>{{ promotionProgram.maxMoneyAmount }}</td>
                    <td>{{ promotionProgram.cinema.name }}</td>
                    <td>
                        <button type="button" class="btn btn-outline-warning">
                            <a href="/promotion-program/{{ promotionProgram._id }}/edit">Sửa</a>
                        </button>
                        <button type="button" class="btn btn-outline-danger">
                            <a href="" data-toggle="modal" data-id="{{ promotionProgram._id }}" data-target="#deletePromotionProgramModal">
                                Xóa
                            </a>
                        </button>
                    </td>
                </tr>
                {% else %}
                <tr style="text-align: center">
                    <td colspan="6">You have not registered for any promotion program yet.
                        <a href="/promotion-program/create">Post a promotion program</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </form>

    {% include "promotion-program/delete.njk" %}
{% endblock %}