{% extends "index.njk" %}

{% block content %}
    <div class="p-4">
        <h3 class="title">Post a screening</h3>

        <form id="frm-add-screening" method="POST" action="/screening/store">
            <div class="form-group">
                <span style="color: #ff0000">*</span>
                <label for="movie">Movie (NS: Now Showing, CM: Coming Soon):</label>
                <select name="movie" id="movie" class="form-control" required>
                    <option value="">Select movie</option>
                    {% for movie in movies %}
                        <option value="{{ movie._id }}">
                            {{ movie.title }} {% if movie.wasReleased %}(NS){% else %}(CM){% endif %}
                        </option>
                    {% endfor %}
                </select>
            </div>
            
            <div class="form-group">
                <span style="color: #ff0000">*</span>
                <label for="movieDate">Movie date:</label>
                <input type="date" class="form-control" id="movieDate" name="movieDate" required>
            </div>

            <div class="form-group">
                <span style="color: #ff0000">*</span>
                <label for="timeSlot">Time slot:</label>
                <input type="time" class="form-control" id="timeSlot" name="timeSlot" required>
            </div>

            <div class="form-group">
                <span style="color: #ff0000">*</span>
                <label for="price">Price (<span class="text-italic">xx000 = xx.000VNĐ</span>):</label>
                <input type="number" class="form-control" id="price" name="price" required>
            </div>

            <div class="form-group">
                <span style="color: #ff0000">*</span>
                <label for="cinemaRoom">Cinema room:</label>
                <select name="cinemaRoom" id="cinemaRoom" class="form-control" required>
                    <option value="">Select cinema room</option>
                    {% for cinemaRoom in cinemaRooms %}
                        <option value="{{ cinemaRoom._id }}">
                            {{ cinemaRoom.roomNumber }}-{{ cinemaRoom.cinemaName }}
                        </option>
                    {% endfor %}
                </select>
            </div>

            <button type="submit" class="btn btn-control mt-2" style="width: 130">
                Add screening
            </button>
        </form>
    </div>
{% endblock %}