{% extends "index.njk" %}

{% block content %}
    <div class="p-4">
        <h3 class="title">Cập nhật suất chiếu</h3>

        <form id="frm-update-screening" method="POST" action="/screening/{{screening._id}}?_method=PUT">
            <div class="form-group">
                <label for="movie">Phim:</label>
                <select name="movie" id="movie" class="form-control" required>
                    {% for movie in movies %}
                        <option value="{{ movie._id }}"
                            {% if (screening.movie) and (screening.movie.toString() === movie._id.toString()) %}selected{% endif %}
                        >
                            {{ movie.title }}
                        </option>
                    {% endfor %}
                </select>
            </div>

            <div class="form-group">
                <label for="movieDate">Ngày chiếu phim:</label>
                <input type="date" class="form-control" value="{{ screening.movieDate }}" id="movieDate" name="movieDate" required>
            </div>

            <div class="form-group">
                <label for="timeSlot">Khung giờ:</label>
                <input type="time" class="form-control" value="{{ screening.timeSlot }}" id="timeSlot" name="timeSlot" required>
            </div>

            <div class="form-group">
                <label for="price">Giá (<span class="text-italic">xx000 = xx.000VNĐ</span>):</label>
                <input type="number" class="form-control" value="{{ screening.price }}" id="price" name="price" required>
            </div>

            <div class="form-group">
                <label for="cinemaRoom">Phòng chiếu phim:</label>
                <select name="cinemaRoom" id="cinemaRoom" class="form-control" required>
                    {% for cinemaRoom in cinemaRooms %}
                        <option value="{{ cinemaRoom._id }}"
                            {% if (screening.cinemaRoom) and (screening.cinemaRoom.toString() === cinemaRoom._id.toString()) %}selected{% endif %}
                        >
                            {{ cinemaRoom.roomNumber }}-{{ cinemaRoom.cinemaName }}
                        </option>
                    {% endfor %}
                </select>
            </div>

            <button type="submit" class="btn btn-control mt-2" style="width: 100">Lưu</button>
        </form>
    </div>
{% endblock %}