{% extends "index.njk" %}

{% block content %}
    <form class="p-4 movies__table-lists">
        <div class="list-movies__header mt-4">
            <h3 class="title">Now Showing</h3>
            <a class="list-movies__header-trash" href="/screening/coming-soon">
                Coming Soon
            </a>
        </div>

        <table class="table table-movies mt-4" border="1">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Movie title</th>
                    <th scope="col">Movie date</th>
                    <th scope="col">Time slot</th>
                    <th scope="col">Price</th>
                    <th scope="col">Screening at</th>
                    <th scope="col">Customs</th>
                </tr>
            </thead>
            <tbody>
                {% for screening in screenings %}
                <tr>
                    <th scope="row">{{ loop.index }}</th>
                    <td>{{ screening.movieName }}</td>
                    <td>{{ screening.movieDate }}</td>
                    <td>{{ screening.timeSlot }}</td>
                    <td>{{ screening.price }}</td>
                    <td>{{ screening.screeningAt }}</td>
                    <td>
                        <button type="button" class="btn btn-outline-warning" 
                            {% if screening.showtimeOver === false %}disabled{% endif %}>
                            <a href="/screening/{{ screening._id }}/edit">Edit</a>
                        </button>
                        <button type="button" class="btn btn-outline-danger" 
                            {% if screening.showtimeOver === false %}disabled{% endif %}>
                            <a href="" data-toggle="modal" data-id="{{ screening._id }}" data-target="#deleteScreeningModal">
                                Delete
                            </a>
                        </button>
                    </td>
                </tr>
                {% else %}
                <tr style="text-align: center">
                    <td colspan="6">You have not registered for any screening yet.
                        <a href="/screening/create">Post a screening</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </form>

    {% include "screening/delete.njk" %}
{% endblock %}