{% extends "index.njk" %}

{% block content %}
    <form class="p-4 movies__table-lists">
        <div class="list-movies__header mt-4">
            <h3 class="title">Danh Sách Đang Chiếu</h3>
            <a class="list-movies__header-trash" href="/screening/coming-soon">
                Sắp chiếu
            </a>
        </div>

        <table class="table table-movies mt-4" border="1">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Tên phim</th>
                    <th scope="col">Ngày chiếu</th>
                    <th scope="col">Khung giờ</th>
                    <th scope="col">Giá</th>
                    <th scope="col">Chiếu tại</th>
                    <th scope="col">Tùy chỉnh</th>
                </tr>
            </thead>
            <tbody>
                {% for screening in screenings %}
                <tr>
                    <th scope="row">{{ loop.index }}</th>
                    <td>{{ screening.movieName }}</td>
                    <td>{{ screening.movieDate }}</td>
                    <td>{{ screening.timeSlot }}</td>
                    <td>{{ screening.price }}</td>
                    <td>{{ screening.screeningAt }}</td>
                    <td>
                        <button
                            type="button"
                            class="btn btn-outline-warning"
                            {% if screening.showtimeOver === false %}disabled style="cursor: not-allowed"{% endif %}
                        >
                            <a 
                                href="{% if screening.showtimeOver %}/screening/{{ screening._id }}/edit{% else %}#{% endif %}"
                                {% if screening.showtimeOver === false %}style="cursor: not-allowed"{% endif %}
                            >
                                Sửa
                            </a>
                        </button>
                        <button
                            type="button"
                            class="btn btn-outline-danger" 
                            {% if screening.showtimeOver === false %}disabled style="cursor: not-allowed"{% endif %}
                        >
                            <a
                                href="#"
                                data-toggle="modal"
                                data-id="{{ screening._id }}"
                                data-target="#deleteScreeningModal"
                                {% if screening.showtimeOver === false %}style="cursor: not-allowed"{% endif %}
                            >
                                Xóa
                            </a>
                        </button>
                    </td>
                </tr>
                {% else %}
                <tr style="text-align: center">
                    <td colspan="6">You have not registered for any screening yet.
                        <a href="/screening/create">Post a screening</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </form>

    {% include "screening/delete.njk" %}
{% endblock %}