<div class="mt-4">
    <h3>Post a movie</h3>

    <form method="POST" action="/movie/">
        <div class="form-group">
            <label for="name">Movie name:</label>
            <input type="text" class="form-control" id="name" name="name">
        </div>

        <div class="form-group">
            <label for="description">Movie description:</label>
            <input type="text" class="form-control" id="description" name="description">
        </div>

        <div class="form-group">
            <label for="director">Movie director:</label>
            <input type="text" class="form-control" id="director" name="director">
        </div>

        <div class="form-group">
            <label for="writter">Content writter:</label>
            <input type="text" class="form-control" id="writter" name="writter">
        </div>

        <div class="form-group">
            <label for="actor">Actors:</label>
            <input type="text" class="form-control" id="actor" name="actor">
        </div>

        <div class="form-group">
            <label for="category">Category:</label>
            <input type="text" class="form-control" id="category" name="category">
        </div>

        <div class="form-group">
            <label for="releaseDate">Release date:</label>
            <input type="text" class="form-control" id="releaseDate" name="releaseDate">
        </div>

        <div class="form-group">
            <label for="time">Movie time:</label>
            <input type="text" class="form-control" id="time" name="time">
        </div>

        <div class="form-group">
            <label for="trailerId">Trailer ID:</label>
            <input type="text" class="form-control" id="trailerId" name="trailerId">
        </div>

        <button type="submit" class="btn btn-primary">Add movie</button>
    </form>
</div>