{% extends "index.njk" %}

{% block content %}
    <div class="p-4">
        <h3 class="title">Post a movie</h3>

        <form id="frm-add-movie" method="POST" action="/movie-screening/store" onsubmit="setWasReleasedDefaultValue(); processArrayInput()">
            <div class="form-group">
                <span style="color: #ff0000">*</span>
                <label for="title">Movie title:</label>
                <input type="text" class="form-control" id="title" name="title">
            </div>

            <div class="form-group">
                <span style="color: #ff0000">*</span>
                <label for="description">Movie description:</label>
                <textarea 
                    class="form-control" 
                    id="description" 
                    name="description" 
                    placeholder="Please enter a movie description..."
                ></textarea>
            </div>

            <div class="form-group">
                <span style="color: #ff0000">*</span>
                <label for="director">Movie director:</label>
                <input type="text" class="form-control" id="director" name="director" multiple>
            </div>

            <div class="form-group">
                <span style="color: #ff0000">*</span>
                <label for="contentWritter">Content writter:</label>
                <input type="text" class="form-control" id="contentWritter" name="contentWritter" multiple>
            </div>

            <div class="form-group">
                <span style="color: #ff0000">*</span>
                <label for="actors">Actors:</label>
                <input type="text" class="form-control" id="actors"s name="actors" multiple>
            </div>

            <div class="form-group">
                <span style="color: #ff0000">*</span>
                <label for="category">Category:</label>
                <input type="text" class="form-control" id="category" name="category" multiple>
            </div>

            <div class="form-group">
                <span style="color: #ff0000">*</span>
                <label for="releaseDate">
                    Release date (<span class="text-italic">mm/dd/yyyy</span>):
                </label>
                <input type="text" class="form-control" id="releaseDate" name="releaseDate">
            </div>

            <div class="form-group">
                <span style="color: #ff0000">*</span>
                <label for="time">Movie time:</label>
                <input type="text" class="form-control" id="time" name="time">
            </div>

            <div class="form-group">
                <span style="color: #ff0000">*</span>
                <label for="trailerId">Trailer ID:</label>
                <input type="text" class="form-control" id="trailerId" name="trailerId">
            </div>

            <div class="form-group">
                <span>
                    Was released 
                    (<span class="text-italic">
                        If not selected, the default will be "Not yet"
                    </span>):
                </span>
                <input class="radio-btn" type="radio" name="selectReleased" id="already" onclick="setWasReleased(true)">
                <label for="already">Already</label>
                <input class="radio-btn" type="radio" name="selectReleased" id="notyet" onclick="setWasReleased(false)">
                <label for="notyet">Not yet</label>
            </div>

            <input type="hidden" id="wasReleased" name="wasReleased" value="">

            <button type="submit" class="btn btn-control mt-2" style="width: 100">
                Add movie
            </button>
        </form>
    </div>
{% endblock %}