{% extends "index.njk" %}

{% block content %}
    <div class="p-4">
        <h3 class="title">Cập nhật phim</h3>

        <form id="frm-update-movie" method="POST" action="/movie-screening/{{movie._id}}?_method=PUT">
            <div class="form-group">
                <label for="title">Tên phim:</label>
                <input type="text" class="form-control" value="{{ movie.title }}" id="title" name="title" required>
            </div>

            <div class="form-group">
                <label for="description">Mô tả phim:</label>
                <textarea class="form-control" id="description" name="description" required>{{ movie.description }}</textarea>
            </div>

            <div class="form-group">
                <label for="director">Đạo diễn:</label>
                <input type="text" class="form-control" value="{{ movie.director }}" id="director" name="director" required>
            </div>

            <div class="form-group">
                <label for="contentWritter">Biên kịch:</label>
                <input type="text" class="form-control" value="{{ movie.contentWritter }}" id="contentWritter" name="contentWritter" required>
            </div>

            <div class="form-group">
                <label for="actors">Diễn viên:</label>
                <input type="text" class="form-control" value="{{ movie.actors }}" id="actors"s name="actors" required>
            </div>

            <div class="form-group">
                <label for="category">Thể loại:</label>
                <select name="category" id="category" class="form-control" required>
                    <option value="" {% if movie.category === "" %}selected{% endif %}>----- Chọn thể loại -----</option>
                    {% for category in categories %}
                        <option value="{{ category._id }}"
                            {% if (movie.category) and (movie.category.toString() === category._id.toString()) %}selected{% endif %}
                        >
                            {{ category.category }}
                        </option>
                    {% endfor %}
                </select>
            </div>

            <div class="form-group">
                <label for="releaseDate">
                    Ngày công chiếu (<span class="text-italic">mm/dd/yyyy</span>):
                </label>
                <input type="date" class="form-control" value="{{ movie.releaseDate }}" id="releaseDate" name="releaseDate" required>
            </div>

            <div class="form-group">
                <label for="time">Thời lượng:</label>
                <input type="number" class="form-control" value="{{ movie.time }}" id="time" name="time" required>
            </div>

            <div class="form-group">
                <label for="trailerId">Trailer ID:</label>
                <input type="text" class="form-control" value="{{ movie.trailerId }}" id="trailerId" name="trailerId" required>
            </div>

            <div class="form-group">
                <label for="producer">Nhà sản xuất:</label>
                <select name="producer" id="producer" class="form-control" required>
                    <option value="" {% if movie.producer === "" %}selected{% endif %}>----- Nhà sản xuất -----</option>
                    {% for producer in producers %}
                        <option value="{{ producer._id }}"
                            {% if (movie.producer) and (movie.producer.toString() === producer._id.toString()) %}selected{% endif %}
                        >
                            {{ producer.producerName }}
                        </option>
                    {% endfor %}
                </select>
            </div>

            <div class="form-group">
                <span>Đã phát hành</span>
                <input 
                    class="radio-btn" 
                    type="radio" 
                    name="wasReleased" 
                    id="already" 
                    value="true"
                    {% if movie.wasReleased %}checked{% endif %}
                >
                <label for="already">Sẵn sàng</label>
                <input 
                    class="radio-btn" 
                    type="radio" 
                    name="wasReleased" 
                    id="notyet" 
                    value="false"
                    {% if not movie.wasReleased %}checked{% endif %}
                >
                <label for="notyet">Chưa</label>
            </div>

            <button type="submit" class="btn btn-control mt-2" style="width: 100">Lưu</button>
        </form>
    </div>
{% endblock %}