{% extends "index.njk" %}

{% block content %}
    <div class="movie-detail__wrapper" style="margin: 20px">
        <h2 class="title" style="margin-bottom: 16px">{{ movie.title }}</h2>

        <div class="d-flex">
            <img 
                width="460" 
                height="280" 
                src="https://img.youtube.com/vi/{{movie.trailerId}}/maxresdefault.jpg"
                style="margin-right: 20px" 
            />

            <div>
                <p style="text-align: justify">Mô tả: {{ movie.description }}</p>
                <p>Đạo diễn: {{ movie.director }}</p>
                <p>Biên kịch: {{ movie.contentWritter }}</p>
                <p>Diễn viên: {{ movie.actors }}</p>
                <p>Thể loại: {{ categoryName }}</p>
                <p>Ngày công chiếu: {{ movie.releaseDate }}</p>
                <p>Thời lượng: {{ movie.time }} phút</p>
                <p>Nhà sản xuất: {{ producerName }}</p>
                <p>
                    Đã phát hành: 
                    {% if movie.wasReleased %}
                        Sẵn sàng
                    {% else %}
                        Chưa phát hành
                    {% endif %}
                </p>
            </div>
        </div>

        <div class="d-flex">
            <div class="d-flex mt-5" style="margin-left: 379px">
                <button class="btn mx-2 btn-control">
                    <a href="/movie-screening/{{ movie._id }}/edit">Sửa</a>
                </button>
                <button
                    class="btn mx-2 btn-control"
                    {% if movie.wasReleased === true %}disabled style="cursor: not-allowed"{% endif %}
                >
                    <a 
                        href="#"
                        data-toggle="modal"
                        data-id="{{ movie._id }}"
                        data-target="#deleteMovieModal"
                        {% if movie.wasReleased === true %}style="cursor: not-allowed"{% endif %}
                    >
                        Xóa
                    </a>
                </button>
            </div>
        </div>
    </div>

    {% include "movies/delete.njk" %}
{% endblock %}