{% extends "index.njk" %}

{% block content %}
    <form class="p-4 movies__table-lists" method="POST" action="/movie-screening/handle-restore-action-form">
        <h3 class="title">Danh Sách Phim Đã Xóa</h3>

        <div class="list-movies__header mt-4">
            <div class="list-movies__header-custom">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="checkbox-all">
                    <label style="width: 82px" class="form-check-label form-check-label-lg" for="checkbox-all">
                        Chọn tất cả
                    </label>
                </div>
                <select style="margin: 0 18px" class="form-control" name="action" required>
                    <option value="">--- Hành động ---</option>
                    <option value="restore">Khôi phục</option>
                    <option value="hard-delete">Xóa</option>
                </select>
                <button class="btn btn-control btn-apply" disabled>Áp dụng</button>
            </div>
            <a href="/movie-screening/table-lists">Danh sách phim ({{ moviesCount }})</a>
        </div>

        <table class="table table-movies mt-4" border="1">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Chọn</th>
                    <th scope="col">#</th>
                    <th scope="col">Tên phim</th>
                    <th scope="col">Thời gian xóa</th>
                    <th scope="col">Tùy chỉnh</th>
                </tr>
            </thead>
            <tbody>
                {% for movie in movies %}
                <tr>
                    <td>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" name="movieIds[]" value="{{ movie._id }}">
                        </div>
                    </td>
                    <th scope="row">{{ loop.index }}</th>
                    <td>{{ movie.title }}</td>
                    <td>{{ movie.deletedAt }}</td>
                    <td>
                        <button type="button" class="btn btn-outline-info">
                            <a class="restore-btn" href="" data-id="{{ movie._id }}">Khôi phục</a>
                        </button>
                        <button type="button" class="btn btn-outline-danger">
                            <a class="force-delete-btn" href="" data-toggle="modal" data-id="{{ movie._id }}" data-target="#deleteMovieModal">
                                Xóa
                            </a>
                        </button>
                    </td>
                </tr>
                {% else %}
                <tr style="text-align: center">
                    <td colspan="6">Thùng rác trống...</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </form>

    {% include "movies/delete.njk" %}

    <form method="POST" name="movie-restore-form"></form>
{% endblock %}