{% extends "index.njk" %}

{% block content %}
    <div class="p-4">
        <h3 class="title">Cập nhật rạp chiếu phim</h3>

        <form id="frm-update-cinema" method="POST" action="/cinema/{{cinema._id}}?_method=PUT">
            <div class="form-group">
                <label for="name">Tên rạp chiếu phim:</label>
                <input type="text" class="form-control" value="{{ cinema.name }}" id="name" name="name" required>
            </div>

            <div class="form-group">
                <label for="logo">Logo rạp chiếu phim:</label>
                <input type="text" class="form-control" value="{{ cinema.logo }}" id="logo" name="logo" required>
            </div>

            <div class="form-group">
                <label for="address">Địa chỉ:</label>
                <input type="text" class="form-control" value="{{ cinema.address }}" id="address" name="address" required>
            </div>

            <div class="form-group">
                <label for="img">Hình ảnh rạp chiếu:</label>
                <input type="text" class="form-control" value="{{ cinema.img }}" id="img" name="img">
            </div>

            <div class="form-group">
                <label for="description">Mô tả rạp chiếu phim:</label>
                <input type="text" class="form-control" value="{{ cinema.description }}" id="description" name="description">
            </div>

            <button type="submit" class="btn btn-control mt-2" style="width: 100">Lưu</button>
        </form>
    </div>
{% endblock %}