{% extends "index.njk" %}

{% block content %}
    <form class="p-4 movies__table-lists">
        <h3 class="title">Danh Sách Rạp Chiếu Phim</h3>

        <table class="table table-movies mt-4" border="1">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Rạp chiếu phim</th>
                    <th scope="col">Địa chỉ</th>
                    <th scope="col">Tùy chỉnh</th>
                </tr>
            </thead>
            <tbody>
                {% for cinema in cinemas %}
                <tr>
                    <th scope="row">{{ loop.index }}</th>
                    <td>{{ cinema.name }}</td>
                    <td>{{ cinema.address }}</td>
                    <td>
                        <button type="button" class="btn btn-outline-warning">
                            <a href="/cinema/{{ cinema._id }}/edit">Sửa</a>
                        </button>
                        <button type="button" class="btn btn-outline-danger">
                            <a href="" data-toggle="modal" data-id="{{ cinema._id }}" data-target="#deleteCinemaModal">
                                Xóa
                            </a>
                        </button>
                    </td>
                </tr>
                {% else %}
                <tr style="text-align: center">
                    <td colspan="6">You have not registered for any cinema yet.
                        <a href="/cinema/create">Post a cinema</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </form>

    {% include "cinema/delete.njk" %}
{% endblock %}