<div id="deleteProducerModal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Xác nhận</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
           <div class="modal-body">
                <p>Bạn có chắc chắn muốn xóa nhà sản xuất này?</p>
            </div>
            <div class="modal-footer">
                <button type="button" id="deleteBtn" class="btn btn-danger">Đồng ý</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Không</button>
            </div>
        </div>
    </div>
</div>

<form method="POST" name="producer-delete-form"></form>