{% extends "index.njk" %}

{% block content %}
    <form class="p-4 movies__table-lists">
        <h3 class="title">Producer List</h3>

        <table class="table table-movies mt-4" border="1">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Producer name</th>
                    <th scope="col">Producer email</th>
                    <th scope="col">Customs</th>
                </tr>
            </thead>
            <tbody>
                {% for producer in producers %}
                <tr>
                    <th scope="row">{{ loop.index }}</th>
                    <td>{{ producer.producerName }}</td>
                    <td>{{ producer.producerEmail }}</td>
                    <td>
                        <button type="button" class="btn btn-outline-warning">
                            <a href="/producer/{{ producer._id }}/edit">Edit</a>
                        </button>
                        <button type="button" class="btn btn-outline-danger">
                            <a href="" data-toggle="modal" data-id="{{ producer._id }}" data-target="#deleteProducerModal">
                                Delete
                            </a>
                        </button>
                    </td>
                </tr>
                {% else %}
                <tr style="text-align: center">
                    <td colspan="6">You have not registered for any producer yet.
                        <a href="/producer/create">Post a producer</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </form>

    {% include "producer/delete.njk" %}
{% endblock %}