{% extends "index.njk" %}

{% block content %}
    <form class="p-4 movies__table-lists">
        <div class="list-movies__header mt-4">
            <h3 class="title">Thông Tin Đặt Vé</h3>
            <a class="list-movies__header-trash" href="/booking/cancel-booking/all">
                Hủy đổi vé ({{cancelBookingsLength}})
            </a>
        </div>

        <table class="table table-movies mt-4" border="1">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Tên khách hàng</th>
                    <th scope="col">Thông tin chi tiết</th>
                </tr>
            </thead>
            <tbody>
                {% for booking in bookings %}
                <tr>
                    <td>{{ booking.userName }}</td>
                    <td>
                        <ul class="booking-ul">
                            <li>ID: {{booking._id}}</li>
                            <li>Tên phim: {{booking.movieName}}</li>
                            <li>Thời gian chiếu: {{booking.screeningTime}}</li>
                            <li>Ghế ngồi: {{booking.seatPositions}}</li>
                            <li>Chiếu tại: {{booking.screeningAt}}</li>
                            <li>Combo bắp nước: {{booking.waterCornComboQuantity}}</li>
                            <li>Chương trình ưu đãi: {{booking.discountCode}}</li>
                            <li>Tổng thành tiền: {{booking.totalMoney}}</li>
                            <li>Thời gian đặt vé: {{booking.createdAt}}</li>
                        </ul>
                    </td>
                </tr>
                {% else %}
                <tr style="text-align: center">
                    <td colspan="6">There are no movie ticket orders yet...</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </form>
{% endblock %}