{% extends "index.njk" %}

{% block content %}
    <form class="p-4 movies__table-lists">
        <div class="list-movies__header mt-4">
            <h3 class="title">Danh Sách Hủy Đặt Vé</h3>
            <a class="list-movies__header-trash" href="/booking/detail-booking">
                Đặt vé
            </a>
        </div>

        <table class="table table-movies mt-4" border="1">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Tên khách hàng</th>
                    <th scope="col">Thông tin hủy đặt vé</th>
                    <th scope="col">Chấp thuận</th>
                </tr>
            </thead>
            <tbody>
                {% for cancelBooking in cancelBookings %}
                <tr>
                    <td>{{ cancelBooking.user.name }}</td>
                    <td>
                        <ul class="booking-ul">
                            <li>ID: {{cancelBooking._id}}</li>
                            <li>Tên phim: {{cancelBooking.booking.screening.movie.title}}</li>
                            <li>Thời gian chiếu: {{cancelBooking.booking.screeningTime}}</li>
                            <li>Ghế ngồi: {{cancelBooking.booking.seatDisplay}}</li>
                            <li>Chiếu tại: {{cancelBooking.booking.screeningAt}}</li>
                            <li>Combo bắp nước: {{cancelBooking.booking.waterCornComboQuantity}}</li>
                            <li>Chương trình ưu đãi: {{cancelBooking.booking.discountCode}}</li>
                            <li>Tổng thành tiền: {{cancelBooking.booking.totalMoney}}</li>
                            <li>Thời gian đặt vé: {{cancelBooking.booking.createdAt}}</li>
                            <li>Lí do: {{cancelBooking.reason}}</li>
                            <li> 
                                Tiền hoàn: {{cancelBooking.refunds}} (
                                    {{cancelBooking.compensationPercent}}% cho Khách hàng,
                                    {{100 - cancelBooking.compensationPercent}}% cho Rạp chiếu phim)
                            </li>
                            <li>Thời gian hủy: {{cancelBooking.createdAt}}</li>
                        </ul>
                    </td>
                    <td>
                        {% if cancelBooking.approveRequest %}
                            Đã được duyệt
                        {% else %}
                            <button class="btn btn-success approve-btn" data-id="{{cancelBooking._id}}">
                                Duyệt
                            </button>
                            <button class="btn btn-danger restore-cancel-booking-btn" data-id="{{cancelBooking._id}}">
                                Không duyệt
                            </button>
                        {% endif %}
                    </td>
                </tr>
                {% else %}
                <tr style="text-align: center">
                    <td colspan="6">There are no movie ticket orders yet...</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </form>
{% endblock %}