{% extends "index.njk" %}

{% block content %}
    <div class="p-4">
        <h3 class="title">Post a employee</h3>

        <form id="frm-add-employee" method="POST" action="/employee/store">
            <div class="form-group">
                <span style="color: #ff0000">*</span>
                <label for="email">Email employee:</label>
                <input type="email" class="form-control" id="email" name="email" required>
            </div>
            
            <div class="form-group">
                <span style="color: #ff0000">*</span>
                <label for="password">Password <span class="text-italic">
                    (Includes: must have at least uppercase letters A-Z, lowercase letters a-z, special characters @$!%*?&, numbers and minlength = 6):</span>
                </label>
                <input type="text" class="form-control" id="password" name="password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[@$!%*?&]).{6,}" required>
            </div>

            <div class="form-group">
                <span style="color: #ff0000">*</span>
                <label for="position">Position employee:</label>
                <select name="position" id="position" class="form-control">
                    <option value="">Select position</option>
                    <option value="Manage movies">Manage movies</option>
                    <option value="Manage screenings">Manage screenings</option>
                    <option value="Manage tickets">Manage tickets</option>
                    <option value="Manage cinemarooms">Manage cinemarooms</option>
                    <option value="Support staff">Support staff</option>
                    <option value="Statistical staff">Statistical staff</option>
                    <option value="Manage employees">Manage employees</option>
                </select>
            </div>

            <div class="form-group">
                <span style="color: #ff0000">*</span>
                <label for="cinema">Cinema:</label>
                <select name="cinema" id="cinema" class="form-control">
                    <option value="">Select cinema</option>
                    {% for cinema in cinemas %}
                        <option value="{{ cinema._id }}">{{ cinema.name }}</option>
                    {% endfor %}
                </select>
            </div>

            <button type="submit" class="btn btn-control mt-2" style="width: 130">
                Add employee
            </button>
        </form>
    </div>
{% endblock %}