{% extends "index.njk" %}

{% block content %}
    <form class="p-4 movies__table-lists">
        <h3 class="title">Danh Sách Nhân Viên</h3>

        <table class="table table-movies mt-4" border="1">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Email nhân viên</th>
                    <th scope="col">Mật khẩu (đã băm)</th>
                    <th scope="col">Vị trí</th>
                    <th scope="col">Rạp chiếu phim</th>
                    <th scope="col">Khóa tài khoản</th>
                </tr>
            </thead>
            <tbody>
                {% for employee in employees %}
                <tr>
                    <th scope="row">{{ loop.index }}</th>
                    <td>{{ employee.email }}</td>
                    <td style="max-width: 300px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">
                        {{ employee.password }}
                    </td>
                    <td>{{ employee.position }}</td>
                    <td>{{ employee.cinemaName }}</td>
                    <td>
                        {% if employee.locked %}
                        <button style="width: 85px;" type="button" class="btn btn-outline-info unlock-btn" 
                            data-id="{{employee._id}}">
                            Mở khóa
                        </button>
                        {% else %}
                        <button style="width: 85px;" type="button" class="btn btn-outline-danger lock-btn" 
                            data-id="{{employee._id}}">
                            Khóa
                        </button>
                        {% endif %}
                    </td>
                </tr>
                {% else %}
                <tr style="text-align: center">
                    <td colspan="6">You have not registered for any employee yet.
                        <a href="/employee/create">Post a employee</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </form>
{% endblock %}