@import "./variable";

.footer__wrapper {
    height: 795px;
    background: #000;
    border-top: 5px solid $main-color;
    color: #fff;

    .footer__content {
        width: 100%;
        height: 350px;
        padding: 70px 87px 0 30px;
        display: flex;
        justify-content: space-between;

        .footer__logo {
            width: 30%;
            text-align: center;
            max-width: 196px;
            font-size: 24px;
        }

        .footer__selection {
            width: 70%;
            display: flex;
            justify-content: space-between;

            .footer__selection-item {
                display: flex;
                flex-direction: column;
                gap: 8px;

                h6 {
                    font-weight: 400;
                    font-size: 20px;
                    padding-bottom: 2px;
                }

                span {
                    position: relative;
                    font-size: 18px;
                    cursor: pointer;
                    transition: right 0.3s ease-in-out;

                    &:hover {
                        color: $main-color;
                        right: -8px;
                    }
                }
            }
        }
    }

    .footer__contact {
        margin: 0 30px 78px;
        padding: 16px 0;
        border-top: 1px solid #fff;
        font-size: 18px;
        display: flex;

        .footer__copyright {
            width: max-content;
            padding-right: 116px;
        }

        .footer__social {
            display: flex;
            flex-direction: row;
            gap: 24px;

            a {
                color: #fff;
            }
        }
    }

    .footer__decorate {
        width: 100%;
        height: 246px;
    }
}