@import "./variable";

.header {
    text-align: center;

    .header__wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 28px;
    }

    .header__container {
        display: flex;
        align-items: center;
    }

    .header__brand-wrapper {
        width: 170px;
        font-size: 20px;
        margin-right: 10px;
        cursor: pointer;
        text-decoration: none;
        
        .header__brand-icon {
            color: $main-color;
        }
    
        .header__brand-name {
            margin: 0;
            color: #fff;
        }
    }

    .header__navbar {
        display: flex;
    }

    .header__search {
        width: 250px;
        background: #fff;
        padding: 2px 5px;
        border-radius: 6px;
    }

    .header__cart {
        display: flex;
        align-items: center;
        padding-right: 16px;
        position: relative;

        span {
            position: absolute;
            top: 0px;
            right: 5px;
            padding: 1px 6px;
            font-size: 16px;
            line-height: 15px;
            color: #fff;
            background: $main-color;
            border-radius: 10px;
        }
    }
}