@import "./variable";

.release__wrapper {
    background: #fff;
    padding: 68px 74.5px 30px;

    h2 {
        font-size: 40px;
        text-align: center;
        font-weight: 100;

        span {
            color: $span-color;
        }
    }
}