@import "./variable";

.release__wrapper {
    height: 1020px;
    background: #fff;
    padding: 68px 74.5px 30px;

    h2 {
        font-size: 40px;
        text-align: center;
        font-weight: 100;
        margin-bottom: 40px;

        span {
            color: $span-color;
        }
    }

    .release__title {
        font-size: 30px;
        text-align: center;
        padding-left: 17px;
        font-weight: 400;
        margin-bottom: 30px;
        cursor: pointer;

        .release__tab { 
            position: relative;

            &::after {
                content: "";
                position: absolute;
                bottom: -3px;
                left: 0;
                width: 0;
                height: 3px;
                background-color: $main-color;
                transition: width 0.7s ease-in-out, left 0.7s ease-in-out;
                transform: translateX(-50%);
            }

            &:hover::after {
                width: 100%;
                left: 50%;
            }

            &.selected {
                color: $main-color;
                border-bottom: 3px solid;

                &:hover {
                    border: none;
                }
            }
        }
    }

    .release__list {
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        max-width: 1000px;
    }

    .release__view-all {
        display: flex;
        margin: auto;
        margin-top: 40px;
    }
}