@import "./variable";

$booked: #797878;
$choice: #750fff;

.seat-statistics {
    display: flex;
    margin-top: 16px;

    .textitem {
        color: #fff;
        margin-right: 30px
    }
}

.seat-diagram {
    width: 650px;
    margin: 20px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    .seat-item {
        $height: 50px;
        width: 55px;
        height: $height;
        border: 1px solid #ccc;
        background: $main-color;
        text-align: center;
        line-height: $height;
        opacity: 1;

        &.seat-booked {
            background: $booked;
            cursor: default;
        }

        &.seat-choice {
            background: $choice;
        }

        &:hover:not(.seat-booked) {
            cursor: pointer;
            opacity: 0.9;
        }
    }
}

.seat-caption {
    display: flex;
    justify-content: center;

    .seat-caption__item {
        display: flex;
        color: #fff;
        margin: 0 20px;

        .text-caption {
            margin-left: 4px;
            line-height: 1.3;
        }

        .seat-color {
            width: 18px;
            height: 18px;
            border: 1px solid #ccc;
            margin-right: 2px;
    
            &.not-booked {
                background: $main-color;
            }
    
            &.booked {
                background: $booked;
            }
    
            &.choice {
                background: $choice;
            }
        }
    }
}

.seat-fee {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    color: #fff;
    margin: 30px;
}