{% extends "index.njk" %}

{% block content %}
    <form class="p-4 movies__table-lists">
        <h3 class="title">Cinema Room List</h3>

        <div class="d-flex">
            <label for="selectCinema" style="line-height: 38px; margin-right: 10px">Select Cinema</label>
            <select id="selectCinema" 
                style="width: 15%; border-radius: 5px" onchange="handleSelectGroup('selectCinema', 'cinemaroom')"
            >
                <option value="all" {% if selectedCinemaId == "all" %}selected{% endif %}>All Cinemas</option>
                {% for cinema in cinemas %}
                <option value="{{ cinema._id }}" {% if cinema._id == selectedCinemaId %}selected{% endif %}>
                    {{ cinema.name }}
                </option>
                {% endfor %}
            </select>
        </div>

        <table class="table table-movies mt-4" border="1">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Room number</th>
                    <th scope="col">Total seats</th>
                    <th scope="col">Cinema</th>
                    <th scope="col">Customs</th>
                </tr>
            </thead>
            <tbody>
                {% for cinemaRoom in cinemaRooms %}
                <tr>
                    <th scope="row">{{ loop.index }}</th>
                    <td>{{ cinemaRoom.roomNumber }}</td>
                    <td>{{ cinemaRoom.totalNumSeat }}</td>
                    <td>{{ cinemaRoom.cinema.name }}</td>
                    <td>
                        <button type="button" class="btn btn-outline-warning">
                            <a href="/cinemaroom/{{ cinemaRoom._id }}/edit">Edit</a>
                        </button>
                        <button type="button" class="btn btn-outline-danger" {% if cinemaRoom.screenings.length %}disabled{% endif %}>
                            <a href="#" data-toggle="modal" data-id="{{ cinemaRoom._id }}" data-target="#deleteCinemaRoomModal">
                                Delete
                            </a>
                        </button>
                    </td>
                </tr>
                {% else %}
                <tr style="text-align: center">
                    <td colspan="6">You have not registered for any cinemaroom yet.
                        <a href="/cinemaroom/create">Post a cinemaroom</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </form>

    {% include "cinemaroom/delete.njk" %}
{% endblock %}